@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

.titleicon {
    border-radius: 50px;
    padding: 0px;
}

body {
    width: 100%;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    z-index: 999;
    box-shadow: 0px 10px 15px rgba(17, 16, 16, 0.06);
    position: sticky;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #1a1a1a;
    transition: 0.2s ease;
}

.navbar li a:hover{
    color: #13b3a8;
    cursor: pointer;
}

.navbar button {
    width: 120px;
    height: 50px;
    border: none;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 10px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #13b3a8;
    transition: 0.4s ease;
}
.navbar button a{
    text-decoration: none;
    color: white;
    outline: none;
}




.cart {
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.profile{
    width: 10%;
    height: 10%;
    cursor: pointer;
}
.hero {
    background-image: url(Assests/hero4.png);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero h4 {
    padding-bottom: 14px;
}

.hero h1 {
    color: #088178;
}
.hero p {
    color: black;
}

.hero button {
    width: 140px;
    height: 50px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 10px;
    outline: none;
    border-radius: 5px;
    background-color: #13b3a8;
    color: white;
    transition: 0.4s ease;
    cursor: pointer;
}

.hero button:hover {
    background-color: transparent;
    color: black;
    border: 1px solid #088178;
}

.services {
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #ccc7d0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
}

.box:hover {
    box-shadow: 10px 10px 54px rgba(70, 60, 221, 0.1);
}

.box h6 {
    display: inline-block;
    padding: 9px 9px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #d1e8f2;
}

.box:nth-child(2) h6 {
    background-color: #fddde4;
}

.box:nth-child(3) h6 {
    background-color: #cdebbc;
}

.box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

.box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

.box:nth-child(6) h6 {
    background-color: #fff2e5;
}

.product1 {
    text-align: center;
}

.product1 .pro-contanier {
    display: flex;
    flex-wrap: wrap;
}

.product1 .pro {
    width: 23%;
    min-width: 250px;
    min-height: auto;
    padding: 10px 12px;
    border: 1px solid #969f97;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 10px;
    position: relative;
}

.product1 .pro img {
    width: 90%;
    height: 50%;
    margin: auto;
    object-fit: cover;  
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.pro:hover img {
    transform: scale(1.1); /* Apply zoom effect on hover */
  }
  .product1 .pro a{
    text-decoration: none;
  }

.product1 .pro .discirption {
    text-align: start;
    padding: 10px 0;
    gap: 10px;
}

.product1 .pro .discirption span {
    color: #606063;
    font-size: 22px;
}

.product1 .pro .discirption h5 {
    padding-top: 10px;
    margin-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.product1 .pro .discirption i {
    font-size: 22px;
    color: rgb(214, 214, 5);
    margin-top: 7px;
}

.product1 .pro .discirption h4 {
    padding: 7px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

.product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 600;
    color: #088178;
    border: 1px solid #ccc7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(Assests/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
}

.banner h4 {
    color: white;
    font-size: 20px;
}

.banner h2 {
    color: white;
    font-size: 30px;
    padding: 10px 0px;
}

.banner h2 span {
    color: red;
    font-size: 30px;
}

.banner button {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    border: none;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    border-radius: 4px;
}

.banner button:hover {
    background: #088178;
    color: #fff;
}

.sm-banner {
    display: flex;
    justify-content: space-between;
}

.sm-banner .banner-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 580px;
    height: 50vh;
    background-image: url(Assests/banner/b17.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 30px;
}

.sm-banner h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.sm-banner h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}

.sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;

}

.sm-banner button {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    border-radius: 4px;
    border: none;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

.sm-banner .banner-box1:hover button {
    background-color: #088178;
    color: white;
}

.sm-banner .banner-box2 {
    background-image: url(Assests/banner/b10.jpg);
}

.banner3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}

.banner3 .bannerbox1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 30%;
    height: 30vh;
    background-image: url(Assests/banner/b7.jpg);
    background-size: cover;
    border-radius: 10px;
    background-position: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
}

.banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

.banner3 h3 {
    color: #ec544e;
    font-size: 15px;
    font-weight: 800;
}

.banner3 .banner-box2 {
    background-image: url(Assests/banner/b18.jpg);
}

.banner3 .banner-box3 {
    background-image: url(Assests/banner/b4.jpg);
}

.newsletter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(Assests/banner/b14.png);
    background-position: 20% 30%;
    background-color: #041342;
    background-repeat: no-repeat;
}

.newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

.newsletter p span {
    color: #ffbd27;
}

.newsletter input {
    height: 3.125rem;
    padding: 0 1.2em;
    font-size: 14px;
    width: 240px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.newsletter button {
    background-color: #088178;
    color: #fff;
    width: 100px;
    white-space: nowrap;
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
}

.newsletter .form {
    display: flex;
    width: 40%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #464646;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    text-align: center;
    width: 100%;
}

/* Shop Css */
.page-background {
    height: 40vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-repeat: none;
    align-items: center;
    justify-content: center;
    background-image: url(Assests/banner/b1.jpg);
}
.background2{
    background-image: url(Assests/about/banner.png)
}

.page-background h2,p {
    color: white;
}
.pagination{
    text-align: center;
}
.pagination a{
    text-decoration: none;
    background-color: #088178;
    border-radius: 4px;
    color: white;
    padding: 15px 20px;
    font-weight: 600;
}
.pagination a i{
    font-size: 16px;
     font-weight: 600;
}
.single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.productdetail{
    display: flex;
}
.single-pro-details{
    width: 50%;
    padding-top: 20px;
}
.single-pro-details h4{
  margin: 30px 0px;
}
.single-pro-details h2{
  font-size: 30px;
}
.single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.single-pro-details input {
    width:  50px;
    height: 42px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  .single-pro-details button {
    width: 150px;
    height: 42px;
    font-size: 18px;
    border: none;
    color: white;
    font-weight: 500;
    padding: 0px 10px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #13b3a8;
  }










.text{
    color: black;
}
/* Contact page css */
.contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact-details .details {
    width: 40%;
  }
  
  .contact-details .details span {
    font-size: 12px;
  }
  
  .contact-details .details h2,
  .form-deails h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
  }
  
  .contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
  }
  
  .contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
  }
  
  .contact-details .details li p {
    margin: 0;
    font-size: 14px;
    color: black;
  }
  
  .contact-details .map {
    width: 55%;
    height: 400px;
  }
  
  .contact-details .map iframe {
    width: 100%;
    height: 100%;
  }
  
  
  /* Form Css */
  
.form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #818ea0;
  }
  .form-details form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .form-details form h2{
    color: #13b3a8;  
}
  .form-details form span {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .form-details form input,
  .form-details form textarea {
    outline: none;
    border: 1px solid gray;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
  }
  .form-details form button {
    width: 140px;
    height: 50px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 10px;
    outline: none;
    border-radius: 5px;
    background-color: #13b3a8;
    color: white;
    transition: 0.4s ease;
    cursor: pointer;
  }
  .form-details form button:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
  }
  
  .form-details .people div {
    padding: 25px;
  }
  .form-details div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .form-details .people div p {
    margin: 0;
    font-size: 13px;
    height: 25px;
  }
  
  .form-details .people div span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
  
  .abbr {
    text-decoration: none;
  }
  /* About Us */
  .About-head {
    display: flex;
    align-items: center;
  }
  
  .About-head img {
    width: 50%;
    height: auto;
    margin-right: 20px;
  }
  
  .about-head .aboutdata {
    margin: 50px;
  }
  .about-head .aboutdata h2, p {
   color: black;  
}
  /* styles.css */

/* Style for the <section> element */

  